<h1>Password Generator</h1>
<form [formGroup]="passwordForm">
  <div>
    <label>Enter Length</label>
    <input formControlName="passwordLength" type="text" />
  </div>

  <div>
    <label for="useLetters">Use Letters</label>
    <input id="useLetters" formControlName="useLetters" type="checkbox" />
  </div>
  <div>
    <label for="useNumbers">Use Numbers</label>
    <input id="useNumbers" formControlName="useNumbers" type="checkbox" />
  </div>
  <div>
    <label for="useSymbols">Use Symbols</label>
    <input id="useSymbols" formControlName="useSymbols" type="checkbox" />
  </div>

  <div>
    <button
      [disabled]="
        !(
          passwordForm.get('passwordLength')?.value &&
          (passwordForm.get('useLetters')?.value ||
            passwordForm.get('useNumbers')?.value ||
            passwordForm.get('useSymbols')?.value)
        )
      "
      type="button"
      (click)="onButtonClick()"
    >
      Generate!
    </button>
  </div>
</form>

<div>
  <label>Your Password</label>
  <input [value]="password" [disabled]="true" name="password" />
</div>

<!-- Display the generated password using interpolation -->
<div>{{ getPassword() }}</div>
